@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&display=swap');

* {
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: static;
}
.Slider {
    display: none;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

header {
    background-color: #222;
    padding: 10px;
    text-align: center;
}
#Llista {
    flex: 1;
    max-width: 560px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    padding: 10px;
    margin-right: 20px;
}
#Llista ul {
    list-style-type: none;
}
#Llista ul li {
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Llista ul li:hover {
    background-color: #333;
}
#Caratula {
    flex: 2;
    max-width: 690px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    padding: 10px;
}
#Caratula img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#div_2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}
#icono {
    width: 150px;
    height: auto;
}
#casete {
    text-align: center;
    padding: 10px;
    background-color: #222;
}
#random{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 650px;
}
#backward{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 700px;
}
#play{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 750px;
}
#pause{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 750px;
}
#forward{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 800px;
}
#stop{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 850px;
}
#cover{
    width: 100%;
    height: 90%;
}
#cover_txt {
    text-align: center;
    font-size: 1rem;
    font-family: 'Cabin', sans-serif;
    margin-top: 10px;
}
#progress-bar {
    width: 60%;
    background-color: #727272;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    left: 300px;
}
#progress{
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#duration{
    position: absolute;
    bottom: 14px;
    left: 1325px;
}
form{
    position: absolute;
    top: 1px;
    left: 100px;
}
input{
    margin-right: 10px;
}
.equalizer {
    display: none;
    margin: calc(50vh - 12px) auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    position: absolute;
    margin-left: 60px;
    margin-top: 120px;
    height: 96px;
    width: 120px;
    top: 700px;
  }
  
  .equalizer__bar {
    flex-grow: 0;
    height: 100%;
    background-color: #ffffff;
    animation-name: pulse;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
    bottom: 0;
    width: 36px;
      margin-left: 5px;
  }
  
  .equalizer__bar:nth-child(1) {
    animation-duration: 1.25s; 
  }
  
  .equalizer__bar:nth-child(2) {
    animation-delay: -0.75s;
    animation-duration: 1.375s; 
  }
  
  .equalizer__bar:nth-child(3) {
    animation-delay: -1s;
    animation-duration: 1.5s; 
  }
  .equalizer__bar:nth-child(4) {
    animation-delay: -1s;
    animation-duration: 1.725s; 
  }
  .equalizer__bar:nth-child(5) {
    animation-delay: -1s;
    animation-duration: 2s; 
  }
  .equalizer__bar:nth-child(6) {
    animation-delay: -1s;
    animation-duration: 2.5s; 
  }
  .equalizer__bar:nth-child(7) {
    animation-delay: -1s;
    animation-duration: 2.725s; 
  }
  .equalizer__bar:nth-child(8) {
    animation-delay: -1s;
    animation-duration: 3s; 
  }
  
  @keyframes pulse {
    0%  { transform: scaleY(0.31) }
    4%  { transform: scaleY(0.25) }
    8%  { transform: scaleY(0.31) }
    12% { transform: scaleY(0.5)  }
    16% { transform: scaleY(0.71) }
    20% { transform: scaleY(0.93) }
    24% { transform: scaleY(0.86) }
    28% { transform: scaleY(0.79) }
    32% { transform: scaleY(0.79) }
    36% { transform: scaleY(0.57) }
    40% { transform: scaleY(0.71) }
    44% { transform: scaleY(0.71) }
    48% { transform: scaleY(0.79) }
    52% { transform: scaleY(0.86) }
    56% { transform: scaleY(0.93) }
    60% { transform: scaleY(0.86) }
    64% { transform: scaleY(0.86) }
    68% { transform: scaleY(0.79) }
    72% { transform: scaleY(0.71) }
    76% { transform: scaleY(0.79) }
    80% { transform: scaleY(0.86) }
    84% { transform: scaleY(0.86) }
    88% { transform: scaleY(0.93) }
    92% { transform: scaleY(0.71) }
    96% { transform: scaleY(0.5)  }
    100%{ transform: scaleY(0.31) }
  }
  #nom{
    position: absolute;
    right: 100px;
  }
  #logout {
    font-size: 1rem;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}
#logout:hover {
    color: #fff;
}

  #user-info {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
}

#user-info h2 {
    font-size: 1.5rem;
}
#botI, #botD {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#botI:hover, #botD:hover {
    background-color: #444;
}
#botI{
    position: absolute;
    left: 600px;
    top: 200px;
}
#botD{
    position: absolute;
    right: 600px;
    top: 200px;
}
#login-form {
    text-align: center;
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #555;
}
#cookies{
    margin: 10px;
}